.homeContainer {
  display: flex;
  max-width: 700px;
  justify-content: space-around;
  align-items: center;

  img {
    height: calc(100vh - 160px);
    left: 40px;
    right: 40px;
  }
}

.homeContent {
  font-size: 1rem;

  span {
    white-space: nowrap;
    color: var(--yellow-500);
  }
}
